.env
*.env
!.env.example
wp-content/uploads/
wp-content/upgrade/
wp-content/upgrade-temp-backup/
wp-content/backup-db/
wp-content/cache/
wp-content/backup*/
wp-content/wflogs/
wp-content/updraft/
wp-content/oci/
wp-content/disabled_plugins/
wp-content/themes/*.zip
wordpress.sql
*.sql
*.sql.gz
db-backups/
wp-admin/
wp-includes/
wp-*.php
index.php
xmlrpc.php
license.txt
readme.html
.ddev/.gitignore
.ddev/config.*.yaml
.ddev/.homeadditions
